body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FDABB5;
}
.post{
    display: flex;
    width: 557px;
    height: 720px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 23px;

}
.userPhoto{
    height: 91px;
    width: 91px;
    border-radius: 91px;
    border: 3px solid #FDABB5;
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}

.userNickname{
    padding-left: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    align-self: flex-start;
    margin-top: 60px;
}
.postOpitions{
    color: #FDABB5;
    font-size: 40px;
    margin-left: 250px;
    background-color: none;
    border: none;
    align-self: flex-start;
    margin-top: 40px;
}
.postPhoto{
    width: 557px;
    height: 420px;
    align-self: center;
}
.buttons{
    height: 37.88px;
    width: 35px;
    padding-right: 5px;
    padding-left: 5px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
}
.post p{
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    padding-left: 5px;
}