
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-image: url("./src/background_img.png");
}
header{
    position: sticky;
    top: 0;
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #E0DADA;
    box-shadow: -1px 17px 18px 0px rgba(115,90,90,0.21);
    -webkit-box-shadow: -1px 17px 18px 0px rgba(115,90,90,0.21);
    -moz-box-shadow: -1px 17px 18px 0px rgba(115,90,90,0.21);
}
.logo{
    display: flex;
    flex-direction: row;
}
.logo img{
    height: 60px;
    width: 60px;
}
.logo h1{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
}
.search{
    position: relative;
    margin-left: 90px;
}
.search span{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
span img{
    height: 25px;
    width: 25px;
}
input::placeholder{
    padding-left: 30px;
}
.search input{
    height: 40px;
    width: 200px;
    border-radius: 300px;
    border: none;
    padding-left: 10px;
    color: #C1B0B3;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
.search input:focus{
    outline: none;
    scale: 1.1;
}

.perfil{
    display: flex;
    flex-direction: row;
    color: #E70073;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    
}
.fotoHeader{
    margin-right: 10px;
    margin-left: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

/*Novo estilo:*/

.post{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 23px;
    margin-bottom: 2%;
    align-self: center;
}
.fotoUsuario{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: #E70073 solid 3px;
}
.nomeUsuario{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
}

.fotoPost{
    height: 300px;
    width: 100%;
}
.botao{
    background: none;
    border: none;
    height: 50px;
    color: #E70073;
    font-size: 40px;
    cursor: pointer;
}
.botao img{
    height: 30px;
    width: 30px;
}
.textoPost{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
}
.headerPost{
    display: flex;
    padding: 20px;
}
.headerPost h1{
    margin-left: 10px;
}
.headerPost button{
    margin-left: 50%;
}
.botoes{
    display: inline;
    align-self: flex-end;
    padding-right: 10px;
}
.areaTexto{
    padding: 10px;
}

#timeline{
    display: flex;
    margin: 50px;
    width: 90%;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

/*testes*/
.sesaoComentarios{
    display: flex;
    padding: 5px;
    border-top: solid 1px grey;
    width: 100%;
    flex-direction: row;
}
.sesaoComentarios img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: #E70073 solid 1px;
}
.sesaoComentarios h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
}
.sesaoComentarios p{
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
}

.destaque{
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 450px;
    align-self: center;
    border-radius: 23px;
    background-color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    margin-bottom: 45px;
}
.userPrincipal{
    display: flex;
    flex-direction: row;
    margin: 4px;
}
.userPrincipal p{
    margin-left: 5px;
}


